@font-face {
    font-family: "Tommy";
    src: url(../font/madeTommy.otf);
}

@font-face {
    font-family: "pSans";
    src: url(../font/productSans.ttf);
}

@font-face {
    font-family: "Wasatsh Brush";
    src: url(../font/wasatsh-brush.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


body {
    overflow-x: hidden;
}


.navWrapper {
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100vw;
    z-index: 100;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.navLinks {
    text-decoration: none;
    color: #000;
    font-family: "pSans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.navLinks.active {
    color: #4c7df0;
}

.navBrand {
    font-family: "TOMMY";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #4c7df0;
}

.btnSignup {
    text-decoration: none !important;
    font-family: "pSans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4c7df0 !important;
    border: 1px solid #4c7df0 !important;
    border-radius: 10px !important;
}

.btnSignup:hover {
    background-color: #4c7df0;
    color: #fff !important;
}


/* home */

.sliderImg {
    width: 80vw !important;
}

.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5ms;
}

.owl-dot span {
    background: #4c7df0 !important;
    opacity: 0.5;
}

.owl-dot.active span {
    background-color: #4c7df0 !important;
    opacity: 1;
    width: 12px !important;
    height: 12px !important;
}

.secondSection {
    background-image: url("../images/secondImg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 450px;
}

.textSection {
    position: relative;
}

.pureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.supportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 118px;
    text-align: center;
    color: #4c7df0;
}

.tsPureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.tsSupportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 118px;
    text-align: center;
    color: #4c7df0;
    margin-top: -40px;
    margin-left: -20px;
}

.phoneMenuBtn {
    font-size: x-large;
    display: none;
}

.whyChooseUsText {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #3a3b48;
    padding-left: 2.5rem;
}

.helpTextThirdSection {
    font-family: "DM Sans", sans-serif;
    padding-left: 2.5rem;
}

.blueText {
    color: #4c7df0;
}



.secondSection {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 450px;
}

.textSection {
    position: relative;
}

.pureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.supportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 118px;
    text-align: center;
    color: #4c7df0;
}


.tsPureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.tsSupportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100px;
    text-align: center;
    color: #4c7df0;
    margin-left: -20px;
}

.tsSupportTextFourth {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 20px;
    text-align: center;
    color: #4c7df0;
    margin-top: -40px;
    margin-left: -20px;
}

.phoneMenuBtn {
    font-size: x-large;
    display: none;
}

.whyChooseUsText {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 27px;
    color: #3a3b48;
    padding-left: 2.5rem;
}

.helpTextThirdSection {
    font-family: "DM Sans", sans-serif;
    padding-left: 2.5rem;
    font-size: 1.2rem;
}

.helpTextThirdSection1 {
    font-family: "DM Sans", sans-serif;
    padding-left: 2.5rem;
    color: #4c7df0;
    font-size: 1.2rem;

}



.mlBadge {
    width: fit-content !important;
    font-size: medium;
    border: 2px solid #4c7df0 !important;
    color: #4c7df0 !important;
    background-color: #fff !important;
}

.proContain {
    padding-left: 4.5rem;
}

.helpTextThirdSection12 {
    font-family: "DM Sans", sans-serif;
}


.secondSection {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 450px;
}

.textSection {
    position: relative;
}

.pureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.supportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 118px;
    text-align: center;
    color: #4c7df0;
}


.tsPureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
}

.tsSupportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100px;
    text-align: center;
    color: #4c7df0;
    margin-left: -20px;
}

.tsSupportTextFourth {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 20px;
    text-align: center;
    color: #4c7df0;
    margin-top: -40px;
    margin-left: -20px;
}

.phoneMenuBtn {
    font-size: x-large;
    display: none;
}

.whyChooseUsText {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 27px;
    color: #3a3b48;
    padding-left: 2.5rem;
}

.helpTextThirdSection {
    font-family: "DM Sans", sans-serif;
    padding-left: 2.5rem;
    font-size: 1.2rem;
}

.helpTextThirdSection1 {
    font-family: "DM Sans", sans-serif;
    padding-left: 2.5rem;
    color: #4c7df0;
    font-size: 1.2rem;

}



.mlBadge {
    width: fit-content !important;
    font-size: medium;
    border: 2px solid #4c7df0 !important;
    color: #4c7df0 !important;
    background-color: #fff !important;
}

.proContain {
    padding-left: 4.5rem;
}

.helpTextThirdSection12 {
    font-family: "DM Sans", sans-serif;
}


/* home end */

/* products start */


.mlBadge {
    width: fit-content !important;
    font-size: medium;
    border: 2px solid #4c7df0 !important;
    color: #4c7df0 !important;
    background-color: #fff !important;
}

.proContain {
    padding-left: 4.5rem;
}

.rounded {
    width: 250px;
    height: 250px;
}


/* footer css */
.sitefooter {
    background-color: #F6F6F6;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.sitefooter hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.sitefooter hr.small {
    margin: 20px 0
}

.sitefooter h6 {
    color: #272727;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.sitefooter a {
    color: #737373;
}

.sitefooter a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footerlinks {
    padding-left: 0;
    list-style: none
}

.footerlinks li {
    display: block
}

.footerlinks a {
    color: #737373
}

.footerlinks a:active,
.footerlinks a:focus,
.footerlinks a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footerlinks.inline li {
    display: inline-block
}

.sitefooter .socialicons {
    text-align: right
}

.sitefooter .socialicons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .sitefooter [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .sitefooter {
        padding-bottom: 0
    }

    .sitefooter .copyright-text,
    .sitefooter .socialicons {
        text-align: center
    }
}

.socialicons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.socialicons li {
    display: inline-block;
    margin-bottom: 4px
}

.socialicons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.socialicons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.socialicons a:active,
.socialicons a:focus,
.socialicons a:hover {
    color: #fff;
    background-color: #29aafe
}

.socialicons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.socialicons a.facebook:hover {
    background-color: #3b5998
}

.socialicons a.twitter:hover {
    background-color: #00aced
}

.socialicons a.linkedin:hover {
    background-color: #007bb6
}

.socialicons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .socialicons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


@media only screen and (max-width: 800px) {
    .phoneMenuBtn {
        display: flex;
    }

    .navLinksWrapper {
        display: none;
    }
}